In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
for dirname, _, filenames in os.walk("C://Users//Dell//Desktop//Python//Data set files//spam.csv"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
import chardet
with open("C://Users//Dell//Desktop//Python//Data set files//spam.csv",'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7270322499829184, 'language': ''}

In [4]:
data = pd.read_csv("C://Users//Dell//Desktop//Python//Data set files//spam.csv",encoding = 'Windows-1252')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [7]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [9]:
data.drop_duplicates(inplace=True)
print(data.shape)

(5169, 5)

In [10]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [11]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5126
Unnamed: 3    5159
Unnamed: 4    5164
dtype: int64

In [12]:
data.colunms = ["v1","v2","v3","v4","v5"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [13]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [14]:
{c: data[c].dropna().values for c in data.columns}

{'v1': array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object),
 'v2': array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
        'Ok lar... Joking wif u oni...',
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
        ..., 'Pity, * was in mood for that. So...any other suggestions?',
        "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
        'Rofl. Its true to its name'], dtype=object),
 'Unnamed: 2': array([' PO Box 5249',
        ' the person is definitely special for u..... But if the person is so special',
        ' HOWU DOIN? FOUNDURSELF A JOBYET SAUSAGE?LOVE JEN XXX\\""',
        ' wanted to say hi. HI!!!\\" Stop? Send STOP to 62468"',
        'this wont even start........ Datz confidence.."', 'GN',
        '.;-):-D"',
        'just been in bedbut mite go 2 thepub l8tr if uwana mt up?loads a luv Jenxxx.\\""',
        ' bt not his girlfrnd... G o o d n i g h t . . .@"',
        ' I\'ll come up"',
        ' don\'t miss ur best life for anything... Gud nyt..."',
        ' just as a shop has to give a guarantee on what they sell. B. G."',
        ' But at d end my love compromised me for everything:-(\\".. Gud mornin:-)"',
        ' the toughest is acting Happy with all unspoken pain inside..\\""',
        ' smoke hella weed\\""', '\\" not \\"what i need to do.\\""',
        'JUST GOT PAYED2DAY & I HAVBEEN GIVEN Aå£50 PAY RISE 4MY WORK & HAVEBEEN MADE PRESCHOOLCO-ORDINATOR 2I AM FEELINGOOD LUV\\""',
        ' justthought iåÕd sayhey! how u doin?nearly the endof me wk offdam nevamind!We will have 2Hook up sn if uwant m8? loveJen x.\\""',
        'JUST REALLYNEED 2DOCD.PLEASE DONTPLEASE DONTIGNORE MYCALLS',
        'u hav2hear it!c u sn xxxx\\""', " I don't mind",
        ' Dont Come Near My Body..!! Bcoz My Hands May Not Come 2 Wipe Ur Tears Off That Time..!Gud ni8"',
        "Well there's still a bit left if you guys want to tonight",
        ' but dont try to prove\\" ..... Gud mrng..."',
        ' SHE SHUDVETOLD U. DID URGRAN KNOW?NEWAY',
        ' but watever u shared should be true\\"...."',
        ' like you are the KING\\"...! OR \\"Walk like you Dont care',
        ' HAD A COOL NYTHO', ' PO Box 1146 MK45 2WT (2/3)"',
        ' \\"It is d wonderful fruit that a tree gives when it is being hurt by a stone.. Good night......"',
        ' we made you hold all the weed\\""',
        ' but dont try to prove it..\\" .Gud noon...."',
        ' its a miracle to Love a person who can\'t Love anyone except U...\\" Gud nyt..."',
        ' Gud night...."',
        ' that\'s the tiny street where the parking lot is"',
        'PROBPOP IN & CU SATTHEN HUNNY 4BREKKIE! LOVE JEN XXX. PSXTRA LRG PORTIONS 4 ME PLEASE \\""',
        ' hopeSo hunny. i amnow feelin ill & ithink i may have tonsolitusaswell! damn iam layin in bedreal bored. lotsof luv me xxxx\\""',
        ' GOD said',
        ' always give response 2 who cares 4 U\\"... Gud night..swt dreams..take care"',
        ' HOPE UR OK... WILL GIVE U A BUZ WEDLUNCH. GO OUTSOMEWHERE 4 ADRINK IN TOWN..CUD GO 2WATERSHD 4 A BIT? PPL FROMWRK WILL BTHERE. LOVE PETEXXX.\\""',
        ' b\'coz nobody will fight for u. Only u &amp; u have to fight for ur self &amp; win the battle. -VIVEKANAND- G 9t.. SD.."',
        'DEVIOUSBITCH.ANYWAY',
        ' ENJOYIN INDIANS AT THE MO..yeP. SaLL gOoD HehE ;> hows bout u shexy? Pete Xx\\""'],
       dtype=object),
 'Unnamed: 3': array([' MK17 92H. 450Ppw 16"', ' why to miss them', 'GE',
        'U NO THECD ISV.IMPORTANT TOME 4 2MORO\\""',
        'i wil tolerat.bcs ur my someone..... But',
        ' ILLSPEAK 2 U2MORO WEN IM NOT ASLEEP...\\""',
        'whoever is the KING\\"!... Gud nyt"', ' TX 4 FONIN HON',
        ' \\"OH No! COMPETITION\\". Who knew', 'IåÕL CALL U\\""'],
       dtype=object),
 'Unnamed: 4': array([' just Keep-in-touch\\" gdeve.."', 'GNT:-)"',
        ' Never comfort me with a lie\\" gud ni8 and sweet dreams"',
        ' CALL 2MWEN IM BK FRMCLOUD 9! J X\\""',
        ' one day these two will become FREINDS FOREVER!"'], dtype=object)}

In [15]:
data = data.reset_index(drop=True)

In [16]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169 entries, 0 to 5168
Data columns (total 5 columns):
v1            5169 non-null object
v2            5169 non-null object
Unnamed: 2    43 non-null object
Unnamed: 3    10 non-null object
Unnamed: 4    5 non-null object
dtypes: object(5)
memory usage: 101.0+ KB

In [17]:
data.rename(columns = {'v1':'Col1', 
                       'v2':'Col2','Unnamed: 2':'Col3','Unnamed: 3':'Col4','Unnamed: 4':'Col5'}, 
            inplace = True)
  
# displaying the DataFrame
print(data)

      Col1                                               Col2 Col3 Col4 Col5
0      ham  Go until jurong point, crazy.. Available only ...  NaN  NaN  NaN
1      ham                      Ok lar... Joking wif u oni...  NaN  NaN  NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...  NaN  NaN  NaN
3      ham  U dun say so early hor... U c already then say...  NaN  NaN  NaN
4      ham  Nah I don't think he goes to usf, he lives aro...  NaN  NaN  NaN
...    ...                                                ...  ...  ...  ...
5164  spam  This is the 2nd time we have tried 2 contact u...  NaN  NaN  NaN
5165   ham              Will Ì_ b going to esplanade fr home?  NaN  NaN  NaN
5166   ham  Pity, * was in mood for that. So...any other s...  NaN  NaN  NaN
5167   ham  The guy did some bitching but I acted like i'd...  NaN  NaN  NaN
5168   ham                         Rofl. Its true to its name  NaN  NaN  NaN

[5169 rows x 5 columns]

In [18]:
data.drop(["Col3", "Col4", "Col5"], inplace = True, axis=1)

In [19]:
data

      Col1                                               Col2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5164  spam  This is the 2nd time we have tried 2 contact u...
5165   ham              Will Ì_ b going to esplanade fr home?
5166   ham  Pity, * was in mood for that. So...any other s...
5167   ham  The guy did some bitching but I acted like i'd...
5168   ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [20]:
data.isnull()

       Col1   Col2
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
5164  False  False
5165  False  False
5166  False  False
5167  False  False
5168  False  False

[5169 rows x 2 columns]

In [21]:
import nltk

In [29]:
import nltk
from nltk.corpus import stopwords
import string

In [30]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [35]:
def process_text(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    clean_word = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_word

In [36]:
data['Col2'].head().apply(process_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: Col2, dtype: object

In [42]:
message4 = 'hello world hello hello world play '
message5 = 'test test test test one hello'
print(message4)
print()

hello world hello hello world play

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
bow4 = CountVectorizer(analyzer=process_text).fit_transform([[message4],[message5]])
print(bow4)
print()
print(bow4.shape)

  (0, 0)	3
  (0, 4)	2
  (0, 2)	1
  (1, 0)	1
  (1, 3)	4
  (1, 1)	1

(2, 5)

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
message_bow = CountVectorizer(analyzer=process_text).fit_transform(data['Col2'])

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(message_bow,data['Col1'],test_size=0.2, random_state=0)

In [50]:
message_bow.shape

(5169, 11304)

In [51]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(x_train, y_train)

In [54]:
print(classifier.predict(x_train))
print(y_train.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [58]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred = classifier.predict(x_train)
print(classification_report(y_train,pred))
print()
print('confusion_matrix :\n',confusion_matrix(y_train,pred))
print()
print('accuracy_score:\n',accuracy_score(y_train,pred))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3631
        spam       0.98      0.98      0.98       504

    accuracy                           1.00      4135
   macro avg       0.99      0.99      0.99      4135
weighted avg       1.00      1.00      1.00      4135


confusion_matrix :
 [[3623    8]
 [  11  493]]

accuracy_score:
 0.9954050785973397

In [59]:
print(classifier.predict(x_test))
print(y_test.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [60]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
pred = classifier.predict(x_test)
print(classification_report(y_test,pred))
print()
print('confusion_matrix :\n',confusion_matrix(y_test,pred))
print()
print('accuracy_score:\n',accuracy_score(y_test,pred))

              precision    recall  f1-score   support

         ham       0.99      0.96      0.97       885
        spam       0.80      0.93      0.86       149

    accuracy                           0.96      1034
   macro avg       0.89      0.94      0.92      1034
weighted avg       0.96      0.96      0.96      1034


confusion_matrix :
 [[850  35]
 [ 11 138]]

accuracy_score:
 0.9555125725338491